fieldset{
    width: 300px;
    height: 120px;
}
button{
    width: 100%;
    margin: 5px 0;
}
select{
    width: 60%;
}
button#quitar{
    width: 40%;
}

table{
    border-collapse: collapse;
}
#teclado{
    display: flex;
}
#teclado div{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    text-align: center;
    font-size: 2rem;
}
#pentagrama{
    height: 185px;
    max-width: 1500px;
}
.do{
    position: relative;
    width: 25px;
    margin-right: 5px;
}

.nota{
    position: relative;
    height: 56.81px;
    margin-right: 13.6px;
}
