.resul {
    font-weight: 200;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.resul .letter {
    display: inline-block;
    line-height: 1em;
}
table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
}
td{
    min-width: 60px;
}
img{
    width: 100%;
    max-width: 1000px;
}
.ficha {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: block;
    position: relative;
}
