body {
    text-align: center;
}

label {
    display: inline-block;
    width: 120px;
    padding: 5px;
    text-align: right;
}
input#caracter {
    width: 40px;
    margin-right: 5px;
}
input + label {
    display: inline;
}
