body {
    text-align: center;
}

label {
    display: inline-block;
    width: 120px;
    padding: 5px;
    text-align: right;
}
input#pob, input#cop{
    width:60px;
}

input#eda {
    width: 50px;
}

input + label {
    display: inline;
}
